.places{
  width: 390px;
  text-align: center;
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr 1fr 1rem;
  grid-template-rows: 3rem 1fr 1fr;
  place-items: center;
  gap:1rem;
  grid-template-areas: 
  "head head head head head head"
  ".... one one two two ...."
  ". three three three three ."
  ;

}

.h1{
  grid-area: head;
  justify-self: left;
}

.flex1{
  grid-area: one;

}
.flex2{
  grid-area: two;
 
}
.flex3{
grid-area: three;
}
.places > h1{
  text-align: start;
  font-size: 30px;
  margin-bottom: 0;
  margin-left: 1rem;
}
article{
  width: 390px;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #FF5A5F;
  vertical-align: top;
  
}
.home{
  margin-bottom: 2rem;
}
div.price_by_night{
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  width:60px;
  height: 46px;
  font-size: 30px;
  border-radius: 50%;
 padding-top: 1rem;
 float:right;
 position: relative;
 top: -80px;
}
div.information{
  display: flex;
  justify-content: center;
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
div.max_guest, 
div.number_rooms, 
div.number_bathrooms{
  width: 100px;
  width: 100px;
  height: 100%;
  margin-left: 3rem;
  background-image: url("/AirBnB_clone/web_static/images/icon_group.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50% 5px;
}
div.number_rooms{
  background-image: url("/AirBnB_clone/web_static/images/icon_bed.png");
}

div.number_bathrooms{
  background-image: url("/AirBnB_clone/web_static/images/icon_bath.png");
}
.para{
  font-size: 10px;
  margin-top: 50px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 700;
}
div.user, div.description{
  text-align: start;

}